	body{
    	display: flex;
		align-items: center;
		justify-content: center;
    	}
        #timer {
            visibility:hidden;
        }
        #findId tr td {
            text-align: center;
            padding: 10px;
            font-size: 1.2em;
        }
        
        .find-container {
            padding: 50px;
            display: inline-block;
            background-color: #ffffff;
            width:auto;
            text-align: center;
            margin: auto;
            border-radius: 30px;
            box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .find-form form{
            
        }
        .Certification {
      		 display: flex;
			align-items: center;
			justify-content: center;
        }
        .title{
        margin-bottom:40px;
        }