<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias type="com.kos.vo.MemberVO" alias="membervo"/>
		<typeAlias type="com.kos.vo.AuthorityVO" alias="authorityvo"/>
		<typeAlias type="com.kos.vo.BoardVO" alias="board"/>
		<typeAlias type="com.kos.vo.FarmVO" alias="farmvo"/>
		<typeAlias type="com.kos.vo.UploadImageVO"  alias="img"/>
		<typeAlias type="com.kos.vo.PagingVO" alias="paging"/>
		<typeAlias type="com.kos.vo.PlantVO" alias="plant" />













		

	</typeAliases>
</configuration>
