<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Aplication">

	<insert id="FarmerInsert" parameterType="farmerapplicationvo">
		INSERT INTO farmer_certificate
		(farmer_name,farmer_id,farmland_address,farmland_corporation_name,farmland_tel,farmland_corporation_number,certificate_image_url,apply_date)
		VALUES
		(#{farmerName},#{farmerId},#{farmlandAddress},#{farmlandCorporationName},#{farmlandTel},#{farmlandCorporationNumber},#{certificateImageUrl},now())
		
	</insert>
	
	<insert id="SmartFarmInsert" parameterType="smartfarmapplicationvo">
		INSERT INTO smart_Farm_certificate
		(id, apply_date, start_date, due_date)
		VALUES
		(#{id},now(),#{startDate},#{dueDate})
	</insert>
	
	<select id="FarmerSelect" parameterType="farmerapplicationvo" resultType="farmerapplicationvo">
		SELECT * FROM farmer_certificate WHERE 1=1
		<if test="farmerId != null">
		AND farmer_id=#{farmerId}
		</if>
		order by apply_date DESC
	</select>
	<select id="SmartFarmSelect" parameterType="smartfarmapplicationvo" resultType="smartfarmapplicationvo">
		SELECT * FROM smart_Farm_certificate WHERE 1=1
		<if test="id != null">
		AND id=#{id}
		</if>
		order by apply_date DESC
	</select>
	<select id="SmartFarmSelectPage" parameterType="hashmap" resultType="smartfarmapplicationvo">
	select a.ROWNUM, a.no,a.id, DATE_FORMAT(a.apply_date, '%Y-%m-%d') apply_date, DATE_FORMAT(a.start_date,'%Y-%m-%d') start_date,DATE_FORMAT(a.due_date,'%Y-%m-%d') due_date,DATE_FORMAT(approve_date,'%y-%m-%d') approve_date 
    from (SELECT @ROWNUM := @ROWNUM + 1 AS ROWNUM, f.* 
		  from (select * 
		  	    FROM smart_farm_certificate ORDER BY apply_date) f, (SELECT @ROWNUM:=0) TMP) a 
	WHERE 1=1
	<if test="applicate != null">
		<if test="applicate.id !=null">
			AND id=#{applicate.id}
		</if>
	 	<if test="applicate.approveDate== 'undefined'">
			AND approve_date is null
		</if>
	</if>
	
	<if test="paging !=null">
	 AND a.ROWNUM BETWEEN ${paging.start} AND ${paging.end}
	</if>
	
	
	</select>
	<select id="SmartFarmSelectTotalCount" resultType="int">
		select count(*) count FROM smart_farm_certificate a,member m
		WHERE 1=1 and a.id=m.id 
			<if test="id !=null">
				AND a.id=#{id}
			</if>
		 	<if test="approveDate== 'undefined'">
				AND approve_date is null
			</if>
	</select>
	<update id="SmartFarmUpdate" parameterType="smartfarmapplicationvo">
		UPDATE smart_farm_certificate set approve_date='${approveDate}'
		<if test="startDate != null">
		,start_date='${startDate}'
		</if>
		<if test="dueDate != null">
		,due_date='${dueDate}'
		</if>
		WHERE id='${id}' AND DATE_FORMAT(apply_date,'%Y-%m-%d')='${applyDate}'
	</update>
	
</mapper>