<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Role">

<!-- mybais 자료형 int/hashmap/string -->
	<insert id="insert" parameterType="authorityvo">
		INSERT INTO authority(id,role)
					VALUES(#{id},#{role})
	</insert>
	<delete id="delete" parameterType="authorityvo">
		<if test="id!= null and role !=null">
			Delete from authority Where id = #{id} AND role = #{role}
		</if>
	</delete>
	<select id="select" parameterType="String">
		SELECT ROLE FROM authority where id= #{id}
	</select>
</mapper>