<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<!-- mybais 자료형 int/hashmap/string -->

	<!--해당 게시판의 전체 게시물 갯수 쿼리 -->
	<select id="getBoardCount" parameterType="board"
		resultType="int">
		select count(*) from ${b_boardname}
	</select>

	<!--해당 게시판의 현재 조건에 따른 게시물 검색 -->
	<select id="getBoardList" parameterType="hashmap" resultType="board">
		select *
		from
		(select *,@rownum := @rownum+1 AS RNUM
		from ${b_boardname} as b,(SELECT @rownum :=0)as R order by boardno desc)as R
		where RNUM<![CDATA[>=]]>${startrow}
		and RNUM<![CDATA[<=]]>${endrow} <if test="search!=null">and b_title LIKE '%'||#{search}||'%'</if>
		

	</select>
	<!--게시글을 등록  -->
	<insert id="writeboard" parameterType="board">
	insert into ${b_boardname}(title,contents,id) values(#{title},#{contents},#{id})
	
	</insert>
	
	<!--조회수 올리기  -->
	<update id="upviewcount" parameterType="board">
	update ${b_boardname} set board_view=board_view+1 where boardno = ${boardno}
	
	</update>

	<!--게시글 읽기  -->
	<select id="viewboard" parameterType="board" resultType="board">
	<choose>
		<when test = "b_boardname eq 'nongsain'.toString()">
		select boardno,title,contents,regdate,id,board_view,seleted,select_date,select_point from ${b_boardname} where boardno = ${boardno}

		</when>

		<otherwise>
		select boardno,title,contents,regdate,id,board_like,board_bad,board_view from ${b_boardname} where boardno = ${boardno}

		</otherwise>
	</choose>	
	</select>
		
</mapper>