<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Farm">

	<select id="select" parameterType="farmvo" resultType="farmvo">
		SELECT f.no no,f.id id, f.address address, m.name name, f.name farm_name, f.tel tel 
		from member m, farm_info f where f.id=m.id
		<if test='name!=null'>
		m.name = #{name}
		</if>
		<if test='tel != null'>
		f.tel = #{tel}		
		</if>
		<if test='farmName != null'>
		f.name = #{farmName}
		</if>
		<if test='address != null'>
		f.address = #{address}
		</if>
	</select>
	<insert id="insert" parameterType="farmvo">
	INSERT INTO farm_info(id,name,address,tel)
	VALUES(#{id},#{name},#{address},#{tel})
	</insert>
	<delete id="delete" parameterType="farmvo">
	<if test="id!=null and name !=null and address!= null">
	DELETE FROM farm_info WHERE id=#{id} AND name=#{name} AND ADDRESS = #{address}
	</if>
	</delete>
</mapper>