<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">

<!-- mybais 자료형 int/hashmap/string -->
	<insert id="insert" parameterType="membervo">
		INSERT INTO member(id,name,nickname,password,post_code,base_address,detail_address,phone_number,email
		<if test='birthDay!=""'>
		,birth_day
		</if>
		)
					VALUES(#{id},#{name},#{nickname},#{password},#{postCode},#{baseAddress},#{detailAddress},#{phoneNumber},#{email}
					<if test='birthDay!=""'>
					,#{birthDay}
					</if>
					)
	</insert>
	
	<select id="select" parameterType="membervo" resultType="membervo">
		SELECT *
		FROM member 
		WHERE 1=1
		<if test="id != null">AND id=#{id}</if>
		<if test="nickname != null">AND nickName=#{nickname}</if>
		<if test="email != null">AND email=#{email}</if>
	</select>
	
	<update id="update" parameterType="membervo">
		UPDATE member SET 	 name=#{name}				,nickname=#{nickname}
							,password=#{password}		,post_code=#{postCode}
							,base_address=#{baseAddress},detail_address=#{detailAddress}
							,phone_number=#{phoneNumber}
							<if test='birthDay!=""'>
							,birth_day=#{birthDay}
							</if>
						
		WHERE id=#{id}
	</update>
	
	<select id="profile" parameterType="membervo" resultType="string">
		SELECT imagename from memberimg where id = #{id}
	</select>
</mapper>