<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmartFarm">

	<select id="select" parameterType="smartfarmdevicevo" resultType="smartfarmdevicevo">
		SELECT * FROM smart_farm where 1=1
		<if test="id!=null">
		 AND id=#{id}
		</if>
		<if test="regdate!=null">
		AND regdate=#{regdate}
		</if>
	</select>
	<update id="approve" parameterType="smartfarmdevicevo">
		UPDATE smart_farm SET id=#{id},regdate=#{regdate} WHERE devicekey=#{devicekey}
	</update>
	<update id="update" parameterType="smartfarmdevicevo">
		UPDATE smart_farm SET id=#{id}
		<if test="regdate!=null">
			,REGDATE=#{regdate}
		</if>
		<if test="Rentdate!=null">
			,RENTDATE=#{rentdate}
		</if>
		<if test="Supwater!=null">
			,WATERDATE=#{waterdate}
		</if>
		WHERE id=#{id}
	</update>
	<insert id="insert" parameterType="smartfarmdevicevo">
		INSERT INTO smart_farm(devicekey) values(#{devicekey})
	</insert>
</mapper>  