.hero-text{
	margin-bottom: 100px;
}

.hero-text h1{
	color: #3a3a3a !important;
}
.hero-text span{
	color: #3a3a3a;
	font-size: 20px;
	font-weight:bold;
	font-family: BatangChe;  

}
/*날씨 부분  */
.weather{
	width:50%;
	margin: 0 auto;
	text-align: center;
}


/*인덱스의 게시판 표시 부분  */
 .upboards{
	text-align: center;
	width:100%;
	margin: 0 auto;
	height: 500px;
} 

.upboards div{
	float:left;
	width:40%;
	
	
}
th{
	
}

.tipboard{
	 margin-left: 20%; 
}


.downboards{
	text-align: center;
	width:100%;
	margin: 0 auto;
	height: 500px;
} 

.downboards div{
	float:left;
	width:40%;
	
	
}

#allboards{
	
	height: 800px;
	
}

#todaydate{
	font-weight: 500;
}

table{
	font-size: 15px;
}

#more {
	float:right;
	text-align: right;
}
/*표글자색  */
#bno {
	color: gray;
	
}
td a {
	color: black;
	 
}

