.hero-text{
	margin-bottom: 100px;
}

.hero-text h1{
	color: #3a3a3a !important;
}
.hero-text span{
	color: #3a3a3a;
	font-size: 20px;
	font-weight:bold;
	font-family: BatangChe;  

}
/*날씨 부분  */
.weather{
	width:50%;
	margin: 0 auto;
	text-align: center;
}
.iconwrap{
	background-color: white;
    width: 20%;
    margin: 0 auto;
    border-radius: 50px;
}

/*인덱스의 게시판 표시 부분  */
 .upboards{
	margin-top: 30px;
    height: 400px;
    display: block;
	
} 

.upboards div{
	float:left;
	width: 500px;
	
	
	
	
}

.table thead th{
	border-bottom : 0px solid #2A3820 !important; 
}

.tipboard{
margin-left: 50px;
}


.downboards{
	margin-top: 30px;
	height: 500px;
	display: block;
	
} 

.downboards div{
	float:left;
	width: 500px;
	
	
	
	
	
}
/*게시판 위치 세부 조정  */
.freeboard{
	margin-left: 10px;
	
}
.tipboard{
	
	margin-left: 125px;
}
.freeboard h2{
	margin-bottom: 20px;
}

.tipboard h2{
	margin-bottom: 20px;
}
/*표 색 바꾸기  */
th{
	background-color: #e2eddf;
}
/*반응형  */
@media only screen and (max-width:1202px){
	
	
	#allboards{
	
	height: 2000px !important;
	text-align: center;
	}
	
	
	/*모든 div에 추가  */
   #allboards div div{
   margin-left: auto ;
   margin-right: auto ;
   
   float: none;
   

   
   }
   /*위쪽 div에 추가  */
   .upboards{
   margin-bottom: 50px;
   height: auto;
   
   }
   
   
	.upboards div{
	 margin-bottom: 50px;
	
	
	}
	
	.downboards{
	margin-bottom: 50px;
	 height: auto;
	
	}
	
	.downboards div{
	margin-bottom: 50px;
	display: block;
	
	}
   


   
            
}
.hero-text h4{
	font-family: 
}
#allboards{
	
	height: 1000px;
	text-align: center;
	
}

#todaydate{
	font-weight: 500;
	
}
@media only screen and (max-width:1190px){
	#todaydate{
	font-size: 32px;
	}
}

table{
	font-size: 15px;
}

#more {
	float:right;
	text-align: right;
}
/*표글자색  */
#bno {
	color: gray;
	
}
td a {
	color: black;
	 
}
td a:hover {
	color: black !important;
	text-decoration: underline !important; 
}
.spad{
	padding-top: 0px !important;
}
#divide{
	
	margin-bottom: 50px;
}
td{
	text-overflow:ellipsis; 
	overflow:hidden; 
	white-space:nowrap;

}





