@charset "UTF-8";
/*글쓰기 버튼  */
.writebtn {
	float:right;
}
tr th {
	text-align: center;
}
#pager {
	padding-top: 20px;
	width: 100%;
	text-align: center;
}
#bno{
	text-align: center;
}

td a {
	color: black;
	 
}

tr td:not(.titles) {
	text-align: center;
}


td a:hover{
	color: black;
	text-decoration: underline;
}
.newicon{
	width: 15px;
	height: 15px;
}

#bno {
	color: gray;
	
}
#writeboard{
	margin-bottom: 10px;
}
#goimgboard{
	margin-bottom:10px;
}

#boardtable th{
	table-layout: fixed;
	
}
#boardtable td{
	text-overflow: ellipsis;
}
/*글 검색기능  */
.search_area {
	margin-top :20px;
	text-align: center;
}

/*  */
.search_area input{
	width:200px;
	
	}
	
/* Dropdown Button--------------------------------------------------------------------- */
.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    text-decoration: underline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.hero-section{
	padding-top: 0px !important;
	
}

.container{
	
/* 	border-top: 1px solid black; */
}
.container h3{
	margin-top: 50px;
	
}

.menu-item{
	margin-top: 50px;
}


.table-wrapper{
	margin-top: 0px !important;
}
