@charset "UTF-8";
/*글쓰기 버튼  */
.writebtn {
	float:right;
}
tr th {
	text-align: center;
}
#pager {
	width: 100%;
	text-align: center;
}
#bno{
	text-align: center;
}

td a {
	color: black;
	 
}

tr td:not(.titles) {
	text-align: center;
}


td a:hover{
	color: black;
	text-decoration: underline;
}

#bno {
	color: gray;
	
}