@font-face{
	font-family: "my";
	src: url("../fonts/fogoFont/GodoB.otf");
}



/*전체 페이지  */
body{
	
	width: 100%;
	height: 100%;
}



/*전체 섹션  */
.mainsection{
	
	width: 100%;
	height: 100%;
	text-align: center;
	padding-bottom: 50px;
}

/* 컨테이너  */
.mainsection .container {
	background-color: #f4f4f4;
	height: 100%;
	border-top: 1px solid black;
}

/*안에 포스팅 섹션  */
.posting{
	
	background-color:white;
	width: 80%;
	height: 80%;
	margin-top: 5%;
	margin-left:  auto;
	margin-right:  auto;
	border: 1px solid lightgray;
}

.headersep{
	border-bottom: 1px solid lightgray;
	height:20%;
	
	vertical-align: middle;
}


.header-left{
	width: 60%;
	height:100%;
	float: left;
	
	border-right: 1px solid lightgray;
	
}

.header-right{
	width: 40%;
	height:100%;
	float:left;
	
}

.headersep span{
	
	
	font-family: my;
	font-weight: bold;
}

.header-left{
	
}
/*제목  */
.titles{
	font-size: 30px;
	margin-top: 8%;
}

.regdate{
	margin-top:8%;
	font-size: 20px;
}
.writername{
	font-size: 20px;
}

