@charset "UTF-8";

.main{
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
			
}
.contents{
	height: 80%;

	width: 50%;
}
 table, th, td {
    border: 1px solid #bcbcbc;
  }
/*   td{
 width: 5%;
 height: 5%;
 }  */
 
.name{
 width: 20%;
 } 
  table {
    width: 100%;
    height: 450px;
  }
 textarea{
  width: 100%;
 }