/*게시물의 제일 큰 div  */
#board{
	border : 1px solid #eee;
	margin-top: 50px;
	height : 800px;
}

/*제목  */
#title{
	border-bottom: 1px solid #eee;
}

#title h2{
	font-weight: 400;
    margin-top: 30px;
}

/*내용  */
#contents{
	
	margin-top: 50px;
	height : 250px;
	
}
/*현재 보고있는 글의 게시판 이름  */
#boardname a {
	color: #03c75a;
}

#button_container button{
	margin-left: 10px;
	margin-top: 10px;
}
