/*게시물의 제일 큰 div  */
#board{
	border : 1px solid #eee;
	margin-top: 50px;
	width: 50%;
}

/*제목  */
#title{
	border-bottom: 1px solid #eee;
}

#title h2{
	font-size: 50px;
	font-weight: 400;
    margin-top: 30px;
}

/*내용  */
#contents{
	
	margin-top: 50px;
	
	
}
/*현재 보고있는 글의 게시판 이름  */
#boardname{
	margin-top: 15px;
}

	#boardname a {
		color: #03c75a;
		font-size: 20px;
	
	}
/*댓글 정보 표시 부분  */
#replinfosec{
	margin-top: 70px;
	display: inline;
	font-size: 15px;
}
/*조회수 표시부분  */
#boardname_right p{
	
   margin-top: 20px;
   font-size: 15px;
   
}
/*아래 글쓰기 수정 삭제버튼  */
#button_container{
	width:50%;
}	

	/*버튼들 위치 조정  */
	#button_container button{
		margin-left: 10px;
		margin-top: 10px;
	}
	
	.pull-right a{
		margin-top: 10px;
	
	}
	
/* 닉네임 부분  */
.nick{
	margin-top: 10px;
	font-size: 17px;
	font-weight: 200;
}
/*작성날짜 부분  */
.regdate{
	font-size: 15px;
}
#like{
	
	
	
	
} 
#bad{
	

	
} 
	

