@charset "UTF-8";

.main{
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content:center;
	margin-right:0% !important;
			
}
.contents{
	height: 80%;
	width: 60%;
	padding-left:10%;
}

 
.name{
 width: 20%;
 } 
  table {
    width: 80%;
    height: 450px;
  }
 textarea{
  width: 100%;
 }
 
.title{

	padding-bottom:50px;
}
.Explanation{
	padding-bottom:30px;
}
.inputData{
	width:40%;
	padding-right:30%; 
}
#find_postcode_btn{
	float: right;
}